section {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

section form {
    border: 5px solid rgb(64, 64, 64);
    border-radius: 10px;
    padding: 5px;
}

h2 {
    font-size: 40px;
    text-align: center;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    width: 100%;
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
}

p {
    text-align: center;
    background-color: brown;
    color: cornsilk;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 0px;
}